<!DOCTYPE html>
<html>
    <body>
        <div id="logRegOuter">
            <div id="newPost">
                <%= form_with model: @article do |form| %>
                    <div>
                        <p><%= form.label :title%> 
                        <%= form.text_field :title %></p>
                    </div>
                    <div>
                        <p><%= form.label :content%></p>
                        <p><%= form.text_area :content %></p>

                    <div>
                        <%= form.submit%>
                    </div>
                <% end %>
            </div>
        </div>
    </body>
</html>