<!DOCTYPE html>
<html>
    <body>
   
    <div id="mainBoardBackground">
            
            <div id="commMargin">
            </div>
            <div id="mainCommBoard">
                <h1><%= @article.title %> </h1>
                <h2>
                Autor: <%= @article.author%>
                </h2>
                <%= image_tag @article.image if @article.image.present? %>
                <br>

                <%= @article.content%>
                <br>
                <br>
                <% if (user_signed_in? && current_user.id == @article.authorid ) %>
                <%= link_to "Edit Post", edit_article_path(@article) %>
                <% end %>
                <% if user_signed_in? %>
                    <h4>Add a comment:</h4>
                
                    <%= render 'comments/form' %>
                <% end %>
            <h4>Comments</h4>
            <%= render @article.comments %>
            </div>
            <div>
            </div>
        </div>
    </div>
    </body>
</html>