<!DOCTYPE html>
<html>
    <body>
    <div id="mainBoardBackground">
            <div id="commMargin">
            </div>
            <div id="mainCommBoard">
                <h1><%= @article.title %> </h1>
                <h2>
                Autor: <%= @article.author%>
                </h2>
                <%= @article.content%>
                <%= %>
                <h4>Add a comment:</h4>
        <%= render 'comments/form' %>
            </div>
            <div>
           <h4>Comments</h4>
        <%= render @article.comments %>
            <%= comment.author %>
            <%= comment.content %>
    
            </div>
        </div>
    </div>
    </body>
</html>