<!DOCTYPE html>
<html>

  <body>
        
    <div id="searchBar">
         
        <%= search_form_for @search, url: root_path do |search_form| %>

        <%= search_form.label :title_cont  %> :
        <%= search_form.search_field :title_cont %>


        <%= search_form.label :content_cont  %> :
        <%= search_form.search_field :content_cont %>

       
        <%= search_form.label :author_cont  %> :
        <%= search_form.search_field :author_cont %>

        <%= search_form.submit %>
        <% end %>

    </div>
    <% if user_signed_in? %>
    <div id="newPostBar">

        <h2 id="newPostButton"><%= link_to "ADD NEW POST", articles_newarticle_path, class:"navbar-brand"%></h2>
        <div>Signed in as: <%= current_user.name %></div>
        <div>
            <p class-"notice"><%= notice %></p>
            <p class-"alert"><%= alert %></p>
        </div>
        
    </div>
    <% end %>

    <div id="mainBoardBackground">
        <div id="mainMargin">
        </div>
        <div id="mainBoard">
            <% @articles.each do |article| %>
                <% unless article.archived? %>
                    <% if (!article.private? || (user_signed_in? && current_user.id == article.authorid ))%>
                                <div id="testpost">
                                    <div id="postTitle">
                                        <h3><%= article.title %></h3>
                                    </div>
                                    <div id="postCotent">
                                        <p><%= article.content %></P>
                                        <%= link_to "[Comment or see other comments]", article, class:"navbar-brand"%>
                                    </div>
                                </div>
                    <% end%>
                <% end %>
            <% end %>
            </ul>
        </div>
        
    </div>
  </body>
</html>