<!DOCTYPE html>
<html>

  <body>
    <div id="searchBar">
        <div id="autorSearch">
            <button type="button">SEARCH BY AUTHOR</button> <input type="text">
        </div>
        <div id="titleSearch">
            <button type="button">SEARCH BY TITLE</button> <input type="text">
        </div>
        <div id="tagSearch">
           <button type="button">SEARCH BY TAG</button> <input type="text">
        </div>
    </div>
    <% if user_signed_in? %>
    <div id="newPostBar">
        <h2 id="newPostButton"><%= link_to "ADD NEW POST", articles_newarticle_path, class:"navbar-brand"%></h2>
        <div>Signed in as: <%= current_user.name %></div>
    </div>
    <% end %>
    <div id="mainBoardBackground">
        <div id="mainMargin">
        </div>
        <div id="mainBoard">
            <% @articles.each do |article| %>
                
                <div id="testpost">
                    <div id="postTitle">
                    <h3><%= article.title %></h3>
                    </div>
                    <div id="postCotent">
                    <p><%= article.content %></P>
                    <%= link_to "[Comment or see other comments]", article, class:"navbar-brand"%>
                    </div>
                </div>
            <% end %>
            </ul>
        </div>
        <div>
            <p class-"notice"><%= notice %></p>
            <p class-"alert"><%= alert %></p>
        </div>
    </div>
  </body>
</html>