<!DOCTYPE html>
<html>
  <head>
    <title>Bogusław Łęcina LLC</title>
    <!--<link rel="stylesheet" href="app/stylesheets/application.css">-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
      <div id="topBar">
        <div id=topBarLeft >
            <h1> ✡ Bialystocký Rabínský Kruh ✡</h1>
        </div>
        <% unless user_signed_in? %>
        <div id="topBarCentLeft">
          <%= link_to "REGISTER", new_user_registration_path, class:"navbar-brand"%>
        </div>
        <div id="topBarCentRight">
          <%= link_to "SIGN IN", new_user_session_path, class:"navbar-brand"%>
        </div>
        <%else%>
        <div id="topBarCentRight">
          <%= link_to "SIGN OUT", destroy_user_session_path, 'data-turbo-method': :delete, class:"navbar-brand"%>
        </div>
        <div id="topBarCentRight">
          <%= link_to "EDIT PROFILE", edit_user_registration_path, class:"navbar-brand"%>
        </div>
        <% end %>

        
        <div id="topBarRight">
          <%= link_to "HOME", root_path, class:"navbar-brand"%>
        </div>
        
    </div>
    <%= yield %>
  </body>
</html>

